<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/assets/2016_ANBE_CV_V3.pdf">CV</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="http://adnguyen.github.io/blog/2016/03/30/Resources">Resources</a></li>
	        		<li><a href="/community">Community</a></li>
	        		<li><a href="/photo">Photo Gallery</a></li>	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anbe642@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/adnguyen">Github</a></li>
	        		<li><a href="https://scholar.google.com/citations?hl=en&view_op=list_works&gmla=AJsN-F6S4Q8cChWLsKO_zymS57GWw_V6z3vQq-tgXoWVfbz3Cohaf4uarhQqs7ioXhGn6DLoVuM7plOQCfYcYi4jYyeBP096iA&user=fPiwje8AAAAJ">Google Scholar</a></li>
	        		<li><a href="https://www.researchgate.net/profile/Andrew_Nguyen22">Research Gate</a></li>
	        		{% include google_analytics.html %}
				</ul>
			</footer>
		</body>
	</html>